<!-- <p>contactme works!</p> -->

<!-- <p>projects works!</p> -->


<div class="container-fluid nav">
  <div class="row nav-bar">

    <a routerLink="/dashboard">
      <i class="bi-arrow-left"></i> DP.
    </a>
    <h1 class="title">Contact Me
      <h5>Handshake 🤝</h5>
    </h1>


    <div class="details col-12">

      <div class="locemsc col-lg-5 col-md-5 col-sm-10 col-12">


        <h4>Social Media:</h4>
        <hr>
        <table>
          <tr>
            <!-- <td><p>Resume: </p></td> -->
            <td>
              <p>
                <a href="../../assets/resume/Deep_Patadiya_Resume.pdf" download>
                Download Resume <i class="bi-download"></i>
                </a>
              </p>
            </td>
          </tr>
          <tr>
          <!-- <td><p>Email: </p></td> -->
            <td>
              <p>
                <a href="mailto:deeppatadiya24@gmail.com">deeppatadiya24&#64;gmail.com</a>
              </p>
            </td>
          </tr>
          <tr>
            <!-- <td><p>Go to:</p></td> -->
            <td>
              <p>
                <a href="https://github.com/MrDx24" target="_blank">
                  Github <i class="bi-github"></i>
                </a>
                &nbsp;
                <a href="https://www.linkedin.com/in/deeppatadiya/" target="_blank">
                  Linkedin <i class="bi-linkedin"></i>
                </a>
              </p>
            </td>
          </tr>

        </table>

      </div>

    </div>


  </div>
</div>

