<!-- <p>aboutme works!</p> -->

<!-- <p>projects works!</p> -->


<div class="container-fluid nav">
  <div class="row nav-bar">

    <a routerLink="/dashboard">
      <i class="bi-arrow-left"></i> DP.
    </a>
    <h1 class="title">About Me
      <h5>I &middot; Me &middot; Myself</h5>
    </h1>


    <div class="col-12">
      <div class="holder row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="img"></div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-12 col-12">
            <div class="info">
              Hi, My name is Deep Patadiya. <hr>
              I am based from Pune, Maharashtra, India. <hr>
              I am Full Stack Developer. <hr>
              I am a dynamic and versatile IT professional with a strong background in software development and project management. With a solid foundation in Java, JavaScript, and various web technologies, I have contributed to a diverse range of projects, showcasing my ability to adapt to different tech stacks and environments.
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="text">
              <hr>
              My experience spans from collaborating closely with clients and SMEs to gather requirements and drive project success, to leading project sections and implementing performance enhancements. I thrive in fast-paced environments, where my skills in automation, database optimization, and data analysis have consistently delivered tangible results.
              <hr>
              Adept at leveraging emerging technologies, I have developed a keen interest in RESTful APIs and their role in facilitating seamless communication between frontend and backend systems. My passion for innovation and problem-solving, coupled with my strong communication and teamwork skills, positions me as a valuable asset in any project or organization.
            </div>
          </div>
      </div>
    </div>



  </div>
</div>

